<div class="container-footer">
    <div class="footer-content-logo">
        <div class="footer-container-logo">
            <img src="../../../assets/logo-psn-white.png" alt="Logo PlayStation Branco" class="footer-logo-img">
        </div>
        <div class="footer-container-internet">
            <div><img src="../../../assets/icon-internet.png" alt="Globo terrestre branco"></div>
            <span>País/região: Brasil</span>
        </div>
    </div>
    <div class="footer-content-list">
        <ul class="service-list">
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Política de privacidade</a></li>
            <li><a href="#">Termos de uso do site</a></li>
            <li><a href="#">Mapa do site</a></li>
            <li><a href="#">PlayStation Studios</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Sobre a SIE</a></li>
        </ul>
        <ul class="sobre-list">
            <li><a href="#">Termos de serviço da PSN</a></li>
            <li><a href="#">Política de cancelamento da PS Store</a></li>
            <li><a href="#">Avisos de saúde</a></li>
            <li><a href="#">Sobre as classificações</a></li>
        </ul>
        <ul class="social-list">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Aplicativo para Android</a></li>
            <li><a href="#">Aplicativo para iOS</a></li>
        </ul>
    </div>
    <div class="footer-copyright">
        <span>
            &copy; 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.
        </span>
    </div>
</div>
<nav class="navbar-sony">
    <a href="#" class="navbar-sony-link-logo">
        <img src="../../../assets/logo-sony-white.png" alt="Logo Sony" class="navbar-sony-img-logo">
    </a>
</nav>