<div class="container-card">
    <a href="#" class="link-container-card">
        <div class="container-capa">
            <img src="{{ gameData.img }}" alt="{{ gameData.altImg }}" class="img-capa">
            <ul class="list-type-console">
                <li *ngFor="let consoleItem of gameData.plataforma">{{ consoleItem }}</li>
            </ul>
        </div>

        <div class="container-title">
            <span class="product-type">{{ gameData.produtoType}}</span>
            <h4 class="title-game" [innerHTML]="gameData.title"></h4>
        </div>

        <div class="container-product-bloco" *ngIf="gameData.produtoBloco">
            <span class="icon-product-bloco">
                <img src="../../../assets/icon-ps-bloco-pp.png" alt="Icone Dourado da PlayStation" class="img-icon-bloco">
            </span>
            <span class="text-product-bloco">{{ gameData.produtoBloco}}</span>
        </div>
        
        <div class="container-price">
            <span class="badge-price">{{gameData.porcentagem}}</span>
            <div class="price">
                <span class="price-now">{{gameData.precoAtual}}</span>
                <span class="price-old">{{gameData.precoAnterior}}</span>
            </div>
        </div>
    </a>
</div>
