.container-ofertas{
    max-width: 1380px;
    margin: 0 auto;
}
.ofertas-title {
    font-weight: 300;
    font-size: 2.25rem;
    color: #363636;
    padding: 1rem 5rem;
}
.container-contagem-itens {
    padding: 1rem 5rem;
}
.text-contagem-itens {
    font-size: .9rem;
    color: var(--text-secondary-color);
}
.ofertas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 5rem;
    gap: .5rem;
}
.ofertas-item {
    width: 200px;
    margin-bottom: 1rem;
}