<div class="container-ofertas">
    <h1 class="ofertas-title">Todas as ofertas</h1>
    <div class="container-contagem-itens">
        <span class="text-contagem-itens">3362 itens</span>
    </div>

    <ul class="ofertas-list">
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
        <li class="ofertas-item">
            <app-card-game></app-card-game>
        </li>
    </ul>
</div>